/* .displaybox {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
} */

.resultcontainer {
    display: flex;
    justify-content: start;
    border-style: solid;
    font-weight: normal;
    margin: 6px;
    border-width: 1px;
    border-radius: 3px;
    border-color: rgba(191, 191, 191, 1);
    padding: 4px;
}

.flexitem-left {
    font-weight: normal;
    padding: 5px;
}

.flexitem-right {
    margin-left: auto;
    font-weight: normal;
    padding: 5px;
}

#positive {
    background-color: #F0FFF4;
}

#negative {
    background-color: #FFF4F4;
}