/* .displaybox {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
} */

.resultcontainer {
    display: flex;
    justify-content: start;
    border-style: solid;
    font-weight: normal;
    margin: 6px;
    border-width: 1px;
    border-radius: 3px;
    border-color: rgba(191, 191, 191, 1);
    padding: 4px;
}

.resultcontainer:hover {
    cursor: pointer;
    border-color: rgb(25, 140, 216);
    border-width: 3px;
    background-color: rgb(238, 238, 238);
}

.flexitem-left {
    font-weight: normal;
    padding: 5px;
}

.flexitem-right {
    margin-left: auto;
    font-weight: normal;
    padding: 5px;
}